<br>
<center>
<h1>New Topic</h1>
</center>

<div class="container">
    <%= link_to 'â† Back', course_path(@course), class:'btn btn-outline-success rounded-pill' %>
</div>

<br>

<%= render 'form', topic: @topic %>



